@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 4px 4px 6px gray;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    font-family: 'Gugi', cursive;
    font-size: 50px;
}
.id {
    width: 300px;
}
.pw {
    width: 300px;
}
.button {
    display: flex;
    justify-content: center;
    font-family: 'Gugi', cursive;
    width: 300px;
}
.form-check-label {
    font-family: 'Gugi', cursive;
    margin-top: auto;
}